<div class="home-container">
    <h1 class="titulo">Ministério do Meio Ambiente</h1>


    <div class="button-container">
        <h2>Acesso as informações confidênciais</h2>
        <button class="botoes" matFab extended >Nível 1: Acesso concedido a indivíduos com permissão geral </button>
        <button class="botoes" matFab extended >Nível 2: Acesso restrito aos diretores de divisões específicas</button>
        <button class="botoes" matFab extended >Nível 3: Acesso exclusivo ao ministro do Meio Ambiente</button>
        <button class="botoes" matFab extended (click)="solicitarCodigoCadastro()" >Cadastrar</button>
    </div>
</div>