<div class="home-container">

  <!-- ======================================================= -->
  <!-- PASSO 3: VISÃO PARA USUÁRIO NÃO AUTENTICADO           -->
  <!-- ======================================================= -->
  @if (!isAuthenticated) {
    <h1 class="titulo">Ministério do Meio Ambiente</h1>
    <div class="button-container">
      <h2>Acesso às informações confidenciais</h2>
      <button class="botoes" mat-fab extended (click)="solicitarAcesso(1)">Nível 1: Acesso concedido a indivíduos com permissão geral</button>
      <button class="botoes" mat-fab extended (click)="solicitarAcesso(2)">Nível 2: Acesso restrito aos diretores de divisões específicas</button>
      <button class="botoes" mat-fab extended (click)="solicitarAcesso(3)">Nível 3: Acesso exclusivo ao ministro do Meio Ambiente</button>
      <button class="botoes" mat-fab extended (click)="solicitarCodigoCadastro()">Cadastrar</button>
    </div>
  }

  <!-- ======================================================= -->
  <!-- PASSO 3: VISÃO PARA USUÁRIO AUTENTICADO               -->
  <!-- ======================================================= -->
  @else {
    <mat-card class="content-card">
      <mat-card-header>
        <mat-card-title>Acesso Concedido</mat-card-title>
        <mat-card-subtitle>{{ welcomeMessage }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <h3>Informações Confidenciais Obtidas:</h3>
        <p class="secret-text">
          {{ secretContent }}
        </p>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-raised-button color="warn" (click)="logout()">Sair e Bloquear Acesso</button>
      </mat-card-actions>
    </mat-card>
  }

</div>