<div class="validacao-facial-modal-container">
   <form *ngIf="validacaoForm" [formGroup]="validacaoForm" (ngSubmit)="validarUser()">
    
    <div class="biometric-container">
      <h3>Biometria Facial</h3>
      
      <button mat-stroked-button color="primary" type="button" (click)="startCamera()">
        <mat-icon>camera_alt</mat-icon>
        Ligar Câmera para Registro Facial
      </button>

      @if(isCameraOn) {
      <div class="camera-view">
        <video #videoElement autoplay playsinline></video>
        <button mat-fab extended color="accent" type="button" (click)="captureImage()">
          <mat-icon>photo_camera</mat-icon>
          Capturar Imagem
        </button>
      </div>
    }
      @if(validationMessage) {
        <mat-error>{{ validationMessage }}</mat-error>
      }
    @if(capturedImage !== null) {
        <div class="snapshot-view">
        <p>Pré-visualização:</p>
        <img [src]="capturedImage" alt="Imagem capturada">
        <button mat-button color="primary" type="button" (click)="startCamera()">Tirar outra foto</button>
      </div>
    }
    
    <canvas #canvasElement></canvas>

    </div>
    
    <mat-dialog-actions>
        <button mat-button [mat-dialog-close]="false">Cancelar</button>
        <button mat-raised-button color="primary" type="submit">Confirmar</button>
    </mat-dialog-actions>
    </form>
</div>
